div.brew,
html {
    width: 100%;
    overflow-x: hidden;
}
body {
    margin: 0;
}
div.brew {
    position: relative;
    min-width: 320px;
    font-family: CiscoSans, Arial, sans-serif;
    color: #424445;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background: #fff;
    margin: 0px;
}
.brew h1 {
    font-size: 5.8vw;
    line-height: 5.3vw;
    letter-spacing: 0.02vw;
    margin: 4.7% 0px 0.5%;
    text-align: center;
}
.brew h2 {
    font-size: 4.5vw;
    font-weight: 100;
    letter-spacing: 0.13vw;
    line-height: 4.5vw;
    margin: 0px;
    text-align: center;
    color: #424445;
}
.brew h3 {
    font-size: 2.91vw;;
    letter-spacing: 0.125vw;
    margin: 1% 0px 0.5%;
    text-align: center;
}
.brew p {
    font-size: 2.25vw;
    line-height: 3.5vw;
    letter-spacing: 0.065vw;
    margin: 0px;
}
.brew h1,
.brew h3 ,
.brew p {
    font-weight: 300;
    color: #424445;
}
.brew a[href].button {
    color: #fff;
}
.brew .button-div {
    margin: 7.85% auto 2.2%;
}
.brew .button {
    padding: 1.6% 2.8%;
    border-radius: 50px;
    color: #fff;
    background-color: #0D274D;
    text-decoration: none;
    font-size: 1.94vw;
    font-weight: 100;
    line-height: 2.25vw;
}
.brew .center {
    text-align: center;
}
.flex-brew {
    display: flex;
}
.brew .white {
    color: #fff;
}
.brew .dark-bg {
    padding: 3.6%;
    background-color: #0F274D;
    text-align: center;
}
.brew .grey-bg {
    background-color: #E2E2E2;
    padding: 2.3%;
    text-align: center;
}
.brew .hero {
    margin-bottom: 0.9%;
}
.brew .text-1 {
    margin-top: 37.6%
}
.brew .text-2 {
    text-align: left;
    margin: 18% 0% 0 56.1%;
}
.brew .text-3 {
    margin: 36.8% 0 22.5% 8%;
}
.brew .text-4 {
    text-align: left;
    margin: 24.5% 0% 0 53%;
}
.brew .text-5 {
    margin-top: 26.5%
}
.brew .text-6 {
    padding: 30% 7.3% 1%;
    justify-content: space-between;
}
.brew .text-7 {
    padding: 6.2% 0%;
    margin: 5% 0% 0%;
}
.brew .text-8 {
    margin: 15.7% 0% 18% 7%;
}
.brew .text-9 {
    text-align: left;
    margin: 27.2% 0% 0 49%;
}
.brew .text-10 {
    margin: 27.7% 0% 15% 7%;
}
.brew .text-11 {
    padding: 9.8% 17.9% 1% 18.9%;
    justify-content: space-between;
}
.brew .text-12 {
    padding: 28% 22% 1% 14.7%;
    justify-content: space-between;
}
.brew .text-11  p,
.brew .text-12  p {
    z-index: 1;
}
.brew .text-13 {
    margin-top: 26.9%;
}
.brew .text-14 {
    text-align: left;
    margin: 22.65% 0% 6% 33.25%;
}
.brew .text-15 {
    margin: 18% 0 16% 30%;
}
.brew .text-16 {
    margin: 0% 0% 6% 33.25%;
    padding-top: 3%;
}
.brew .text-17 {
    margin: 19.2% 0 16.2% 30%;
}
.brew .text-18 {
    padding: 25.5% 2.5% 1%;
    justify-content: space-between;
}
.brew .text-18 p {
    width: 25%;
}
.brew .button-div-2 {
    margin: 6% auto 7.8%;
}
.brew .text-19 {
    margin: 21.3% 20.5% 0% 22%;
    justify-content: space-around;
}
.brew .text-20 {
    margin: 18.6% 6% 5.74% 5%;
    justify-content: space-between;
}
.brew .text-19 p,
.brew .text-20 p {
    width: 45%;
}
.brew .text-21 {
    padding: 60% 0% 0% 0%;
    justify-content: space-between;
}
.brew .text-21 p {
    width: 30.5%;
}
.Sources {
    margin: 5.8% 19.3% 5%;
}
.Sources p {
    font-size: 1.1vw;
    line-height: 1.85vw;
    letter-spacing: 0.065vw;
}
.brew .position-up {
    transform: translateX(-50%) translateY(-53%);
    -webkit-transform: translateX(-50%) translateY(-53%);
}
.brew .position-up.showRight {
    transform: translateX(0%) translateY(-53%);
    -webkit-transform: translateX(0%) translateY(-53%);
}
.brew .position-up-1 {
    transform: translateX(50%) translateY(-119%);
    -webkit-transform: translateX(50%) translateY(-119%);
}
.brew .position-up-1.showLeft {
    transform: translateX(0%) translateY(-119%);
    -webkit-transform: translateX(0%) translateY(-119%);
}
.brew .position-up-2 {
    transform: translateX(50%) translateY(-100%);
    -webkit-transform: translateX(50%) translateY(-100%);
}
.brew .position-up-2.showLeft {
    transform: translateX(0%) translateY(-100%);
    -webkit-transform: translateX(0%) translateY(-100%);
}
.brew .position-up-3 {
    transform: translateX(-50%) translateY(-113%);
    -webkit-transform: translateX(-50%) translateY(-113%);
}
.brew .position-up-3.showRight {
    transform: translateX(0%) translateY(-113%);
    -webkit-transform: translateX(0%) translateY(-113%);
}

@media only screen and (max-width: 768px) {
    HTML, body {
        width: 100%;
        overflow-x: hidden;
    }}