.hidden {
    opacity: 0;
    transition: all 2.5s;
    -webkit-transition: all 2.5s;
    filter: blur(2px);
}
.show {
    opacity: 1;
    filter: blur(0);
}
.hiddenRight {
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    filter: blur(2px);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.showRight {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

.hiddenLeft {
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    filter: blur(2px);
    transform: translateX(40%);
    -webkit-transform: translateX(40%);
}
.showLeft {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
